STRINGTABLE
LANGUAGE 9, 1
{
1, "www.monty.funsite.cz/client/index2.html"
2, "http://monty.funsite.cz/clien/updater/"
3, "Montycraft"
4, "0"
5, "minecraft.exe"
101, "&About..."
102, "Could not start thread!"
61440, "Open"
61441, "Save As"
61442, "All Files (*.*)"
61443, "Untitled"
61446, "an unnamed file"
61457, "&Hide"
61472, "No error message is available."
61473, "Attempted an unsupported operation."
61474, "A required resource was unavailable."
61475, "Out of memory."
61476, "An unknown error has occurred."
61477, "Encountered an improper argument."
61696, "Incorrect filename."
61697, "Failed to open document."
61698, "Failed to save document."
61699, "Save changes to %1?"
61700, "Failed to create empty document."
61701, "The file is too large to open."
61702, "Could not start print job."
61703, "Failed to launch help."
61704, "Internal application error."
61705, "Command failed."
61706, "Insufficient memory to perform operation."
61707, "System registry entries have been removed and the INI file (if any) was deleted."
61708, "Not all of the system registry entries (or INI file) were removed."
61709, "This program requires the file %s, which was not found on this system."
61710, "This program is linked to the missing export %s in the file %s. This machine may have an incompatible version of %s."
61712, "Enter an integer."
61713, "Enter a number."
61714, "Enter an integer between %1 and %2."
61715, "Enter a number between %1 and %2."
61716, "Enter no more than %1 characters."
61717, "Select a button."
61718, "Enter an integer between 0 and 255."
61719, "Enter a positive integer."
61720, "Enter a date and/or time."
61721, "Enter a currency."
61722, "Enter a GUID."
61723, "Enter a time."
61724, "Enter a date."
61728, "Unexpected file format."
61729, "%1\nCannot find this file.\nVerify that the correct path and file name are given."
61730, "Destination disk drive is full."
61731, "Unable to read from %1, it is opened by someone else."
61732, "Unable to write to %1, it is read-only or opened by someone else."
61733, "Encountered an unexpected error while reading %1."
61734, "Encountered an unexpected error while writing %1."
61744, "%1: %2\nContinue running script?"
61745, "Dispatch exception: %1"
61836, "Unable to read write-only property."
61837, "Unable to write read-only property."
61840, "Unable to load mail system support."
61841, "Mail system DLL is invalid."
61842, "Send Mail failed to send message."
61856, "No error occurred."
61857, "An unknown error occurred while accessing %1."
61858, "%1 was not found."
61859, "%1 contains an incorrect path."
61860, "Could not open %1 because there are too many open files."
61861, "Access to %1 was denied."
61862, "An incorrect file handle was associated with %1."
61863, "Could not remove %1 because it is the current directory."
61864, "Could not create %1 because the directory is full."
61865, "Seek failed on %1"
61866, "Encountered a hardware I/O error while accessing %1."
61867, "Encountered a sharing violation while accessing %1."
61868, "Encountered a locking violation while accessing %1."
61869, "Disk full while accessing %1."
61870, "Attempted to access %1 past its end."
61872, "No error occurred."
61873, "An unknown error occurred while accessing %1."
61874, "Attempted to write to the reading %1."
61875, "Attempted to access %1 past its end."
61876, "Attempted to read from the writing %1."
61877, "%1 has a bad format."
61878, "%1 contained an unexpected object."
61879, "%1 contains an incorrect schema."
61888, "pixels"
62177, "Uncheck"
62178, "Check"
62179, "Mixed"
62180, "One or more auto-saved documents were found."
62181, "These are more recently saved than the currently open documents and contain changes that were made before the application closed."
62182, "Do you want to recover these auto-saved documents?"
62183, "Note that if you choose to recover the auto-saved documents, you must explicitly save them to overwrite the original documents.  If you choose to not recover the auto-saved versions, they will be deleted."
62184, "Recover the auto-saved documents\nOpen the auto-saved versions instead of the explicitly saved versions"
62185, "Don't recover the auto-saved documents\nUse the last explicitly saved versions of the documents"
62186, "%s [Recovered]"
}
