100 DIALOGEX 0, 0, 170, 75, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "About"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 ICON 128, -1, 14, 14, 21, 20
 LTEXT "", -1, 42, 14, 114, 8, SS_NOPREFIX
 LTEXT 56565, -1, 42, 27, 114, 8
 DEFPUSHBUTTON "OK", 1, 113, 54, 50, 14, WS_GROUP
 LTEXT "", 1013, 42, 40, 87, 8
}
