102 DIALOGEX 0, 0, 660, 370, 0
STYLE DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_SYSMENU
EXSTYLE = WS_EX_APPWINDOW
{
 CONTROL 152, 1008, "STATIC", SS_BITMAP | NOT WS_VISIBLE, 0, 0, 1, 1
 CONTROL 154, 1007, "STATIC", SS_BITMAP | NOT WS_VISIBLE, 0, 0, 1, 1
 CONTROL 153, 1006, "STATIC", SS_BITMAP | NOT WS_VISIBLE, 0, 0, 1, 1
 CONTROL 151, 1009, "STATIC", SS_BITMAP | NOT WS_VISIBLE, 0, 0, 1, 1
 CONTROL "Start", 1000, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 507, 334, 50, 15
 CONTROL "Full Check", 1001, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 369, 340, 62, 14
 CONTROL "Cancel", 1002, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 436, 340, 66, 14
 CONTROL "", 1011, "{8856F961-340A-11D0-A96B-00C04FD705A2}", NOT WS_VISIBLE | WS_BORDER | WS_TABSTOP, 73, 70, 500, 260
 CONTROL "Close", 1003, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 543, 58, 26, 9
 CTEXT "... Loading ...", 1010, 79, 332, 287, 8
 CONTROL "", 1004, "msctls_progress32", WS_BORDER, 80, 340, 287, 4
 CONTROL "", 1005, "msctls_progress32", WS_BORDER, 80, 343, 287, 13
}
