30721 DIALOG 9, 26, 183, 70
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | WS_POPUPWINDOW | WS_CAPTION
CAPTION "New"
FONT 8, "MS Shell Dlg"
{
 LTEXT "&New ", -1, 6, 5, 123, 8, NOT WS_GROUP
 LISTBOX 100, 6, 15, 125, 49, WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "OK", 1, 137, 6, 40, 14
 PUSHBUTTON "Cancel", 2, 137, 23, 40, 14
 PUSHBUTTON "&Help", -7866, 137, 43, 40, 14
}
